{% extends "base.html" %}

{% block title %} Shopping Cart {% endblock %}

{% block header %}
    <h1>Shopping Cart</h1>
{% endblock %}

{% block main %}

<table>
    <tr>
        <th>Cart</th>
        <td></td>
    </tr>

    {% for photo in session['shoppingCart'] %}
        <tr>
            <td><img src = "{{url_for('static', filename = photo) }}" width = "200" height = "200"></td>
            <td>$ 9.99</td>
            <td><a href = "{{ url_for('remove', filename=photo) }}">Remove</a></td>
        </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td><button id="checkout_button" type="button" >Checkout</button></td>
    </tr>
</table>

{% endblock %}